@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
// font-family: "Lora", "arial";

.gallery {
    .sub_visual {
        .bg {background: url(../img/sub_visual1.jpg) no-repeat center/cover;}
    }

    .inner {
        &::after {
            content: ''; display: block; clear: both;
        }

        #search {
            float: left; width: 20%; box-sizing: border-box; padding-right: 2%;
            position: relative;

            input[type=text]{
                width: 100%; height: 42px; box-sizing: border-box; padding: 5px 15px; margin-bottom: 5px;
                background: #f0f0f0; border: none;
                font-family: "Lora", "arial"; font-size: 14px; color: #666;

                &::placeholder {color: #ccc;}
            }
        
            button {
                position: absolute; right: 40px; top: 0px;
                background: transparent; border: none; cursor: pointer;
                font-size: 18px; color: #999; line-height: 42px;
            }

            ul {
                li {
                    span {
                        display: inline-block; margin-right: 20px; font-family: "Lora", "arial"; font-size: 12px; color: #aaa;
                    }
                    p {
                        display: inline-block; font-family: "Lora", "arial"; font-size: 15px; color: #666;
                    }

                    &:nth-of-type(1) {
                        margin-top: 50px;
                    }
                    &:nth-of-type(3n) {
                        margin-bottom: 210px;
                    }
                }
            }
        }

        #searchMo {
            display: none; position: relative; margin-bottom: 40px;

            input[type=text]{
                width: 100%; height: 42px; box-sizing: border-box; padding: 5px 15px;
                background: transparent; border: none; box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.118);
                font-family: "Lora", "arial"; font-size: 14px; color: #666;

                &::placeholder {color: #ccc;}
            }
        
            button {
                position: absolute; right: 20px; top: 0px;
                background: transparent; border: none; cursor: pointer;
                font-size: 18px; color: #999; line-height: 42px;
            }
        }

        #imgGallery{
            float: right; width: 80%;

            ul {
                border-left: 1px solid #aaa;

                &::after {
                    content: ''; display: block; clear: both;
                }

                li {
                    float: left; width: 30.33%; margin-left: 3%; height: 240px; margin-bottom: 40px;
                    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.118);

                    a {
                        display: block; width: 100%; height: 180px; position: relative;

                        img {
                            width: 100%; height: 100%; object-fit: cover;
                        }

                        em {
                            width: 100%; height: 100%;
                            position: absolute; left: 0; top: 0;
                            background: rgba(0,0,0,0.7);
                            opacity: 0; transition: 0.3s;

                            &::before {
                                content: ''; display: block; width: 60px; height: 0.8px;
                                background: #fff;
                                position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
                            }
                            &::after {
                                content: ''; display: block; width: 0.8px; height: 60px;
                                background: #fff;
                                position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
                            }
                        }

                        &:hover em {opacity: 1;}
                    }

                    span {
                        display: block; padding: 10px;
                        font: 16px/1 "Lora", "arial"; color: #666; text-align: right; letter-spacing: 1px;
                    }

                    p {
                        font-family: "Lora", "arial"; font-size: 15px; color: #666;
                        display: none;
                    }

                    // .writer {
                    //     img {

                    //     }
                    //     span {

                    //     }
                    // }
                }
            }
        }

    }
}

.pop {
    width: 100%; height: 100vh; box-sizing: border-box; padding: 80px;
    background: rgba(0,0,0,0.9);
    position: fixed; left: 0; top: 0; z-index: 3;
    display: none;

    img {
        width: 100%; height: 100%;
        object-fit: cover;
    }

    .close {
        font: bold 14px/1 "arial"; color: #fff;
        position: absolute; top: 20px; right: 20px;
    }
}

/* ----------- tablet ----------- */
@media screen and (max-width: $tablet){
    .gallery{
        .inner {
            #search {
                width: 28%;
                
                ul {
                    li {
                        &:nth-of-type(1) {
                            margin-top: 80px;
                        }
                        &:nth-of-type(3n) {
                            margin-bottom: 0;
                        }
                        &:nth-of-type(2n) {
                            margin-bottom: 236px;
                        }
                    }
                }
            }
    
            #imgGallery{
                width: 72%;
    
                ul {
                    li {width: 47%;}
                }
            }
        }
    }
}

@media screen and (max-width: 839px){
    .gallery{
        .inner {
            #search {display: none;}

            #searchMo {display: block;}
    
            #imgGallery{
                width: 100%;
    
                ul {
                    border: none;
    
                    li {
                        width: 49%; margin-left: 2%;

                        &:nth-of-type(2n-1) {margin-left: 0;}

                        span {
                            display: inline-block; padding: 15px;
                            font-size: 14px; color: #aaa; text-align: left; letter-spacing: 0;
                        }

                        p {
                            display: inline-block; padding-left: 15px;
                        }
                    }
                }
            }
        }
    }
}


/* ----------- mobile ----------- */
@media screen and (max-width: $mobile){
    .gallery{
        .inner {
            #imgGallery{
                ul {
                    li {
                        width: 100%; margin-left: 0; height: 280px;

                        a {height: 220px;}
                    }
                }
            }
        }
    }
}