#news {
    $ht: 60px;

    .inner {
        width: 1180px; margin: 0 auto; padding: 100px 0;

        .tab {
            position: relative; padding-top: 100px;

            h2 {
                position: absolute; left: 0; top: 0;
                width: 100%; height: $ht;
                border-bottom: 1.5px solid #ccc;
                font-size: 26px; color: #666; line-height: $ht;
            }

            .btns {
                width: (30% / 3);
                position: absolute; right: 0; top: 0;

                &:nth-of-type(1) {right: ((30% / 3) * 2);}
                &:nth-of-type(2) {right: ((30% / 3) * 1);}
                &:nth-of-type(3) {right: ((30% / 3) * 0);}

                a {
                    display: block; width: 100%; height: $ht;
                    font-size: 15px; color: #666; text-align: center; line-height: $ht;
                    position: relative; 

                    &::after {
                        content: ''; display: block; width: 0px; height: 12px;
                        background: linear-gradient(to right, rgba(208, 227, 244, 0.3), rgba(197, 192, 255, 0.3), rgba(197, 192, 255, 0.6));
                        position: absolute; left: 50%; bottom: 16px; margin-left: -40px;
                        opacity: 0; transition: 0.5s;
                    }
                    
                    &:hover::after,
                    &.on::after {
                        width: 80px; opacity: 1;
                    }
                }
            }

            dd {
                width: 100%; display: none;

                &#tab1 {display: block;}

                &::after {
                    content: ''; display: block; clear: both;
                }

                &.on .left,
                &.on .right {
                    transform: translateY(0px);
                }

                .left {
                    float: left; width: 580px; margin-right: 20px;
                    box-sizing: border-box; padding-right: 10px;
                    transform: translateY(40px); transition: 0.5s 0.8s;

                    span {
                        font-size: 14px; color: #888;
                    }

                    h3 {
                        width: 55%; margin: 15px 0;
                        font-size: 30px; color: #333; line-height: 1.5;

                        &::before {
                            content: ''; display: block; width: 30px; height: 3px; margin-bottom: 5px;
                            background: #333;
                        }
                    }

                    .tag {
                        width: 50%;  margin-bottom: 54px;

                        em {
                            display: inline-block; margin-right: 5px; margin-bottom: 10px;
                            padding: 4px 10px; background: #eee;
                            font-size: 14px; color: #777; font-style: normal;
                        }
                    }

                    a {
                        display: block; width: 100%;

                        .pic {
                            width: 100%; height: 600px; margin-bottom: 20px;
                            overflow: hidden;

                            img {
                                width: 100%; height: 100%; object-fit: cover;
                                transform: scale(1); transition: 0.5s;
                            }

                        }

                        &:hover .pic img {
                            transform: scale(1.08);
                        }
                        
                        em {
                            font-size: 14px; color: #aaa; font-style: normal;
                        }

                        h4 {
                            margin: 10px 0;
                            font-size: 18px; color: #444; line-height: 1;
                            position: relative; z-index: 1;
                            
                            &::after {
                                content: ''; display: block; width: 0px; height: 15px;
                                background: rgba(0,0,0,0.15);
                                position: absolute; left: 20px; top: 10px; z-index: 0.5;
                                opacity: 0; transition: 0.5s;
                            }
                        }

                        &:hover h4::after {
                            width: 160px; opacity: 1;
                        }

                        p {
                            width: 80%;
                            font-size: 16px; color: #666; line-height: 1.5;
                        }
                    }
                }

                .right {
                    float: left; width: 580px;
                    transform: translateY(-40px); transition: 0.5s 0.8s;

                    li {
                        float: left; margin-bottom: 50px;

                        &:nth-child(1) {width: 100%;}
                        &:nth-child(2) {width: 280px; margin-right: 20px;}
                        &:nth-child(3) {width: 280px;}

                        a {
                            display: block; width: 100%;
    
                            .pic {
                                width: 100%; height: 350px; margin-bottom: 20px;
                                overflow: hidden;
    
                                img {
                                    width: 100%; height: 100%; object-fit: cover;
                                    transform: scale(1); transition: 0.5s;
                                }
                            }

                            &:hover .pic img {
                                transform: scale(1.03);
                            }
    
                            em {
                                font-size: 14px; color: #aaa; font-style: normal;
                            }

                            h4 {
                                margin: 10px 0;
                                font-size: 18px; color: #444; line-height: 1;
                                position: relative; z-index: 1;

                                &::after {
                                    content: ''; display: block; width: 0px; height: 15px;
                                    background: rgba(0,0,0,0.15);
                                    position: absolute; left: 20px; top: 10px; z-index: 0.5;
                                    opacity: 0; transition: 0.5s;
                                }
                            }

                            &:hover h4::after {
                                width: 200px; opacity: 1;
                            }

                            p {
                                width: 80%;
                                font-size: 16px; color: #666; line-height: 1.5;
                            }
                        }
                    }
                }

            }
        }
    }
}


/* ----------- tablet ----------- */
@media screen and (max-width:$tablet){

}

/* ----------- mobile ----------- */
@media screen and (max-width:$mobile){
    
}