@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$tablet: 1179px;
$mobile: 539px;

$mainColor: #a4e2cb;
// $mainColor: #90e9c8;
$assiColor1: #b4b2d9;
$assiColor2: #7dcde0;

$grdColor1: #b8d4ec;
$grdColor2: #c5c0ff;


//reset scss 연결
* {margin: 0; padding: 0;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}
table {border-collapse: collapse;}
fieldset {border: none;}
.hidden {position: absolute; top: -9999px; opacity: 0; text-indent: -9999px;}
body {font-family: 'Quicksand', 'Noto Sans KR', sans-serif;}

//main page scss 연결
@import "main/header/header";
@import "main/visual/visual";
@import "main/item/item";
@import "main/news/news";
@import "main/work/work";
@import "main/intro/intro";
@import "main/insta/insta";
@import "main/footer/footer";

//sub page scss 연결
@import "sub/header/header";
@import "sub/footer/footer";
@import "sub/department/department";
@import "sub/location/location";
@import "sub/member/member";
// @import "sub/member/result";
@import "sub/community/community";
@import "sub/faq/faq";
@import "sub/gallery/gallery";
@import "sub/youtube/youtube";
// @import "sub/popup/popup";


//sub_layout
.content {
    width:100%;

    .sub_visual {
        width: 100%; background-color: #333;
        position: relative;

        .bg {
            width:100%; height:500px; opacity: 0.6;
            background-attachment: fixed;
        }

        p {
            position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
            font-size: 16px; color: #ddd; text-align: center; letter-spacing: 1px;

            span {
                display: block; margin-bottom: 15px;
                font-size: 26px; font-weight: bold;
            }
        }
    }

    .inner {
        width:1180px; margin:150px auto; min-height:500px;

        h1 {
            font: 16px/1 "Noto Sans KR"; color: #666; text-align: center; margin-bottom: 120px;

            span {
                display: block; font: bold 36px/1 "roboto"; color:#333; margin-bottom: 40px; position: relative;

                &::after {
                    content: ''; display: block; width: 30px; height: 1px; background: #666; position: absolute; left: 50%; transform: translateX(-50%); margin-top: 22px;
                }
            }
        }
    }
}



/* tablet */
@media screen and (max-width:$tablet){
    .content {
        .inner {
            width:100%; padding: 0 30px; box-sizing: border-box;
        }
    }
}
/* mobile */
@media screen and (max-width:$mobile){  
    .content {
        .sub_visual {
            padding-top: 0; margin-bottom: 80px;

            p {
                top: 50%; transform: translate(-50%,-40%); font-size: 12px;
    
                span {font-size: 22px;}
            }
        }

        .inner {
            h1 {
                font-size: 14px;
    
                span {
                    font-size: 28px;
    
                    &::after {width: 15px;}
                }
            }
        }
    }
}